<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uuproject2.mks.salescycle">

    <permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Comp.company.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Comp.company.ProfileActivityCompany"
            android:label="@string/title_activity_profile_company"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Comp.company.SignUpActivityCompany" />
        <activity android:name=".Comp.company.AddAuthorityActivity" />
        <activity android:name=".Comp.salesmanager.ProfileSalesManagerActivity" />
        <activity android:name=".Comp.salesman.ProfileSalesManActivity" />
        <activity android:name=".Comp.deleverman.ProfileDelevermanActivity" />
        <activity android:name=".Comp.company.AuthorityLoginActivity" />
        <activity android:name=".Comp.salesmanager.AddProductActivity" />
        <activity android:name=".Comp.salesmanager.ShowProductActivity" />
        <activity android:name=".Comp.salesmanager.AddCustomerActivity" />
        <activity android:name=".Comp.customer.CustomerLogin" />
        <activity android:name=".Comp.customer.CustomerProfileActivity" />
        <activity android:name=".Comp.salesman.SalesBySalesManActivitiy" />
        <activity android:name=".Comp.salesman.ShowSalesManProductForSale" />
        <activity android:name=".Comp.customer.CustomerPurchaseActivity" />
        <activity android:name=".Comp.customer.ShowProductForCustomerPurchase" />
        <activity android:name=".Comp.salesmanager.PaymentsViewActivity" />
        <activity android:name=".Comp.company.ShowTransactionActivity" />
        <activity android:name=".Comp.salesmanager.ShowSalesHistoryBySalesmanager" />
        <activity android:name=".Comp.salesmanager.SalesHistoryListForSalesmanager"></activity>
    </application>

</manifest>